/*Color Palette
#D8DBE2 	Gainsboro
#A9BCD0		Pastel Blue
#58A4B0		Cadet Blue
#373F51		Charcoal
#1B1B1E		Eerie Black*/


/*Global styles_____*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,
h2 {
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
}

a {
    color: #D8DBE2;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
}

.col-narrow {
    width: 30%;
    float: left;
    padding-right: 20px;
    min-height: 220px;
}

.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 220px;
}



/*_____Header and Footer_______*/

header,
footer {
    background: #373F51;
    color: #D8DBE2;
}

header h1,
header h2 {
    margin: 0;
}



/*______Header_______________*/

.profile-img {
    border-radius: 20%;
}



/*______Footer_______________*/

footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}



/*Work Experience
______________________________*/

.work {
    background: #A9BCD0;
}


/*Development*/

.development {
    background: #A9BCD0;
}


/*Education
______________________________*/

.education {
    background: #A9BCD0;
}